/* 일치 선택자 */
section.first{
    background-color: yellowgreen;
}

/* ' ' : 하위 선택자 */
body section{
    border: 1px solid blue;
}

body section h2{
    border: 1px solid green;
}

/* '>' : 자식 선택자 */
.first > h2{
    color: white;
    background-color: navy;
}

.second > h2{
    color: navy;
    background-color: lightblue;
}

/* '+' : 인접 형제 선택자 */
/* 주의점 : kong 아이디 값을 가지는 요소의 바로 뒤에 해당하는 태그가 있어야 한다. */
#kong + li{
    background-color: aqua;
}

/* '~' : 일반 형제 선택자 */
#kong ~ li{
    color: magenta;
}