.container{
  width: 500px;
  height: 500px;
  background-color: skyblue;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item{
  width: 100px;
  height: 100px;
  text-align: center;
  font-weight: bold;
  line-height: 100px;
}

.item1{
  background-color: lightgreen;
}
.item2{
  background-color: lightcoral;
}
.item3{
  background-color: lightsalmon;
}
.item4{
  background-color: lightseagreen;
}
.item1{
  background-color: lightgreen;
}
.item2{
  background-color: lightcoral;
}
.item3{
  background-color: lightsalmon;
}
.item4{
  background-color: lightseagreen;
}