.background{
  width: 800px;
  height: 400px;
  background-color: beige;
}

img{
  width: 100%;
  height: 100%;
}

.img{
  position: absolute;
  width: 300px;
  height: 200px;
}

.img1{
  z-index: 1;
  top: 100px;
  transform: translate(100px, 100px);
  transform: skew(3deg, 10deg);
}
.img2{
  z-index: 2;
  top: 80px;
  left: 260px;
  transform: skew(3deg, 10deg);
}
.img3{
  z-index: 3;
  top: 60px;
  left: 500px;
  transform: skew(3deg, 10deg);
}