body{
  overflow: hidden;
  background-color: rgb(104, 163, 187);
  animation: background 15s linear infinite;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.sky{
  display: flex;
  align-items: flex-start;
}

.sun{
  width: 200px;
  position: relative;
  top: 80px;
  right: 160px;

  animation: sun 15s linear infinite;
}

.moon{
  width: 180px;
  position: relative;
  top: 80px;
  right: 360px;

  animation: moon 15s linear infinite;
}

.city{
  width: 50%;
  position: relative;
  justify-content: space-evenly;
  transform: translate(0px, 200px);
}

.city_img{
  width: 100%;
}

.cloud_1{
  width: 160px;
  position: relative;
  top: 200px;
  right: 160px;

  animation: cloud_1 6s linear infinite;
}

.cloud_2{
  width: 200px;
  position: relative;
  top: 250px;

  animation: cloud_1 10s linear infinite;
}

@keyframes cloud_1{
  0%{
    right: 0;
    opacity: 1;
  }
  20%{
    opacity: 0.2;
  }
  40%{
    right: 200px;
    opacity: 1;
  }
  70%{
    opacity: 0.2;
  }
  100%{
    right: 0;
    opacity: 1;
  }
}

@keyframes sun{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 0;
    rotate: 360deg;
  }
}

@keyframes moon{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    rotate: 360deg;
  }
}

@keyframes background{
  25%{
    background-color: skyblue;
  }
  75%{
    background-color: rgba(46, 46, 243, 0.978);
  }
}