.ball{
  width: 60px;
  height: 60px;
  background-color: magenta;
  border-radius: 50%;
  position: relative;

  animation-name: cercle;
  animation-duration: 3s;
  animation-iteration-count: 6;
  /* animation-timing-function: linear; */
}

@keyframes cercle{
  0%{
    left: 0;
    top: 0;
  }
  25%{
    left: 100px;
    top: 0;
  }
  50%{
    left: 100px;
    top: 100px;
  }
  75%{
    left: 0px;
    top: 100px;
  }
  100%{
    left: 0px;
    top: 0px;
  }
}