@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Noto+Sans+KR:wght@100;400&display=swap');

* { margin: 0;padding: 0;}
body { margin: auto; font-family: 'Noto Sans KR', sans-serif;
      width: 100%; background-color: beige;}
p, h1, h2, h3, a, ul {
      margin: 0;
      padding: 0;
      text-decoration: none;
      color:#222;
}
            
nav { display: flex;
      justify-content: space-around;
      height: 200px;
      margin-bottom: 100px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
}

nav ul { display: flex; 
      justify-content: space-around;
      align-items: flex-end;      }
nav li {          list-style: none;
            margin-left: 20px; width: 100px;
      }
nav h1 {  font-size: 3em; }
nav p, nav a { color:#111; font-weight: 700;}
footer {
      color:#777; text-align: center;
      margin: 80px auto 20px;
 

      }
h2 { margin-bottom: 40px;}

.content { margin : 20px auto; 
      border:4px dashed red;
     width: 70%;}
.create-blog form {
max-width: 90%;
margin: 0 auto;

}
.create-blog input,
.create-blog textarea {
display: block;
width: 90%; margin: 10px 0;
max-width: 300px;
padding: 8px;
}
.create-blog label {
display: block;

}
textarea{ height: 120px;}
.create-blog button{
margin-top: 20px;
background-color: crimson;
color:white;
padding: 6px;
border: 0;
font-size: 1.2em;
cursor: pointer;;
}
