<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partions/head.ejs')%>
</head>
<body>
  <%- include('./partions/nav.ejs')%>
  <div class="about content">ABOUT</div>
  <%- include('./partions/footer.ejs')%>
</body>
</html>