<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>파일 업로드22</h1>
<form action="/upload2" method="post" enctype="multipart/form-data">
  <label>파일을 선택하세요</label>
  <input type="file" name="demo" multiple>
  <button type="submit">업로드하기</button>
</form>
</body>
</html>