<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Cookie parser</h1>
  <a href="/setCookie">Set cookie</a>
  <a href="/getCookie">Get cookie</a>
  <a href="/delCookie">Del cookie</a>

  <script>
    window.onload = () => {
      if(document.cookie) alert('All ready got cookie');
    }
  </script>
</body>
</html>