div{
  width: 300px;
  height: 300px;
  margin: 0 30px 0 0;
  border: 2px solid #aaa;
}

.grad1{
  background: linear-gradient(skyblue, tomato);
}

.grad2{
  background: linear-gradient(90deg, skyblue, tomato);
}

.grad3{
  background: linear-gradient(190deg, skyblue, 80%, tomato);
}

.grad4{
  background: linear-gradient(skyblue, 40%, tomato, gold);
}

.grad5{
  background: rgb(177,24,223);
  background: linear-gradient(90deg, rgba(177,24,223,1) 0%, rgba(242,26,26,0.4234943977591037) 50%, rgba(252,176,69,1) 100%);
  width: 700px;
}