body{
  background-image: url(https://item.kakaocdn.net/do/d84248170c2c52303db27306a00fb861f604e7b0e6900f9ac53a43965300eb9a);
  background-repeat: no-repeat;
  background-size: contain;

  /* backgrount attachment */
  /* scroll : 이미지가 요소를 따라서 같이 스크롤됨 */
  /* fixed : 이미지가 뷰포트에 고정됨 */

  background-attachment: fixed;
}