.box{
  width: 500px;
  height: 900px;
  background-color: orange;
  
  background-image: url(https://item.kakaocdn.net/do/d84248170c2c52303db27306a00fb861f604e7b0e6900f9ac53a43965300eb9a);
  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;
  /* cover : 큰 폭에 맞춰서 */
  /* contain : 작은 폭에 맞춰서 */

  width: 200px;
}