<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>comment</title>
</head>
<body>
  <h1>comment</h1>
  <a href="/">Back to home</a> <br>
  <a href="/comments">return</a>
  <div>
    <div>No.<%=comment.id %></div>
    <div>user id : <%=comment.userid %></div>
    <div>date : <%=comment.date %></div>
    <div>comment : <%=comment.comment %></div>
  </div>
</body>
</html>