<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Info</title>
</head>
<body>
  <h1>User info</h1>
  <a href="/">Back to home</a>
  <div>
    <span>ID : <input type="text" value="<%=userInfo.realId %>" readonly></span> <br>
    <span>PASSWORD : <input type="text" value="<%=userInfo.realPw %>" readonly></span> <br>
    <span>NAME : <input type="text" value="<%=userInfo.name %>" readonly></span> <br>
    <span>AGE : <input type="text" value="<%=userInfo.age %>" readonly></span> <br>
  </div>
</body>
</html>