<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <h1>Cookie</h1>
  <a href="/setCookie">Set cookie</a>
  <a href="/getCookie">Get cookie</a>
  <a href="/delCookie">Del cookie</a>
  <a href="/another">Another cookie</a>
</body>
</html>