:root {
  --aqua-color : rgb(124, 246, 246);
  color: white;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

#options {
  text-align: center;
  padding: 0;
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

#nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--aqua-color);
}

#logo {
  width: 1.9em;
  height: 1.9em;
  margin: 7px;
}

.tools {
  width: 30vw;
}

.option {
  display: flex;
  align-items: center;
  font-weight: bold;
  display: inline-block;
}

#search {
  background-color: black;
  border: 1px solid var(--aqua-color);
  border-radius: 5px;
  margin-left: 9rem;
}

#window {
  display: flex;
}

#icons {
  display: inline-block;
  height: 95.2vh;
  border: 1px solid var(--aqua-color);
  border-top: 0;
}

.icontray {
  margin: 0px;
  padding: 0;
}

.icon {
  margin: 10px;
}

#explorers {
  display: inline-block;
  flex-direction: column;
  width: 170px;
}

.explorerselect, .folderselect {
  height: 47.5vh;
  border: 1px solid var(--aqua-color);
  border-top: 0;
  border-left: 0;
}

.explorer_selected, .folder_selected {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--aqua-color);
}

.explorer_value, .forder_value {
  max-width: 170;
  display: flex;
}

.explorer_arrow, .folder_arrow {
  width: 24px;
  background-size: 50% 50%;
}

.explorerselect ul, .folderselect ul {
  width: 170px;
  position: absolute;
  cursor: pointer;
}

.explorer_option, .folder_option {
  border-bottom: 1px solid var(--aqua-color);
  padding: 0px;
}

.explorer_option, .folder_option, .explorer_value, {
  border-bottom: 1px solid var(--aqua-color);
}