<!DOCTYPE html>
<html lang="en">
<head>
  <%- include(./partials/head)%>
</head>
<body>
  <nav>
    <a href=""><h1>Blog</h1></a>
    <%- include(./partials/nav)%>
  </nav>
  <h1>About Page</h1>
  <div class="about content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia repellat dolores mollitia odio! Accusantium delectus earum soluta nulla atque amet corporis dolore! Neque fugiat nemo adipisci placeat facilis perferendis dolore!
  </div>
  <%- include(./partials/footer)%>
</body>
</html>