<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>page <%=title %></title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/main">Main</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/create">Create</a></li>
    </ul>
  </nav>
  <h1>Main Page</h1>
</body>
</html>