<!DOCTYPE html>
<html lang="en">
  <% - include(./partials/head)%>
<body>
  <nav>
    <% - include(./partials/nav)%>
  </nav>
  <h1>Main Page</h1>
  <div class="blogs content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus quam sunt veritatis. Consequatur molestiae labore voluptatem, non reiciendis obcaecati magnam quae praesentium, voluptas accusantium, laborum at est unde. Labore, enim.
  </div>
  <% - include(./partials/footer)%>
</body>
</html> 