<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Main</title>
</head>
<body>
  <%-include('Header.ejs') %>
  <h1>Main</h1>

  <script>
    if('<%=login %>' === 'login') {
      const html = `
        <p>your not currently loged in</p>
        <a href="/login">LOGIN</a>
      `;
      const body = document.querySelector('body');
      body.insertAdjacentHTML('beforeend', html);
    }
    else {
      const html = `
        <p>Hi <%=name %></p>
        <a href="/logout">Logout</a>
      `;
      const body = document.querySelector('body');
      body.insertAdjacentHTML('beforeend', html);
    }
  </script>
</body>
</html>