<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>
    .login-box {
      width: 20rem;
      max-width: 90%;
      box-shadow: 0 0 10px #0003;
      border-radius: 10px;
      padding: 30px 20px;
      text-align: center;
      margin: 0 auto;
    }
    .login-box p {
      color: #aaa;
      font-size: 14px;
    }
  </style>
</head>
<body>
  <div class="login-box">
    <h1>로그인</h1>
    <p>참고! 아이디: <b>banana</b> <br>
      비밀번호는 <b>1234</b>
    </p>
    <form action="/" method="POST">
      <div class="input-group mb-3">
        <span class="input-group-text" id="id">ID</span>
        <input type="text" class="form-control" aria-label="id input" aria-describedby="id" name="id">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="pw">PW</span>
        <input type="password" class="form-control" aria-label="pw input" aria-describedby="pw" name="pw">
      </div>
      <button class="btn btn-dark">Login</button>
      <br>
      <a href="/">Home 이동하기</a>
    </form>
  </div>
</body>
</html>