<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>MVC with Sequelize</h1>
  <a href="/visitors">Add comment</a>
  <h1>Signin Login</h1>
  <a href="/user/signup">Signup</a>
  <a href="/user/signin">Signin</a>
</body>
</html>