<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Profile</title>
</head>
<body>
  <h1>User profile</h1>
    <a href="/">HOME</a>
    <p>Only edit password and nickname</p>
    <form name="form_profile">
      <label for="userid">ID</label>
      <input type="hidden" id="id" value="<%= data.id %>" />
      <!-- readonly: userid는 수정 불가능 (조건임) -->
      <input id="userid" type="text" name="userid" value="<%= data.userid %>" readonly /><br />
      <label for="password">Password</label>
      <input id="password" type="password" name="pw" value="<%= data.pw %>" required /><br />
      <label for="name">Name</label>
      <input id="name" type="text" name="name" value="<%= data.name %>" required /><br />
      <button type="button" onclick="profileEdit();">Edit</button>
      <button type="button" onclick="profileDelete();">Delete</button>
    </form>

    <script>
      function profileEdit() {

      }
      function profileDelete() {
        
      }
    </script>
</body>
</html>