<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Signup</title>
</head>
<body>
  <h1>Signup</h1>
  <form action="" name="register">
    <label for="userid">ID</label>
    <input type="text" id="userid" name="userid" required><br>
    <label for="userpw">PW</label>
    <input type="text" id="userpw" name="userpw" required><br>
    <label for="nickname">NAME</label>
    <input type="text" name="nickname" id="nickname" required><br>
    <button type="button" onclick="register()">Register</button>
  </form>
  <a href="/user/signin">Login</a>

  <script>
    function register() {
      
    }
  </script>
</body>
</html>