div{
  width: 100px;
  height: 100px;
  background-color: lightgreen;

  /* 1초 딜레이 후 3초 동안 가로길이 변화 */
  transition-property: width;
  transition-duration: 2s;
  /* transition-delay: 1s; */
  transition-timing-function: ease-in-out;
}

div:hover{
  width: 300px;
}