<div style="width: 50%; padding: 4rem;">
  <div class="plan">
    <div class="card card--secondary">
      <header class="card card--header">
        <h3 class="plan--name">Entry</h3>
        <span class="plan--rise">$14</span>
        <span class="plan--billing-cycle">/Month</span>
        <span class="badge badge--secondary badge--small">10% off</span>
        <span class="plan--discription">Easy start on the cloud</span>
      </header>
      <div class="card--body">
        <ul class="list list--tick">
          <li class="list--item">item 1</li>
          <li class="list--item">item 2</li>
          <li class="list--item">item 3</li>
        </ul>
        <button class="btn btn--outline btn--block">Buy Now</button>
      </div>
    </div>
  </div>
</div>