<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
</head>
<body>
  <%- include('./partials/nav.ejs')%>
  <div class="about content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit neque esse veniam consectetur aut culpa modi autem alias harum expedita nihil tempora distinctio eius quibusdam porro, temporibus doloribus officia. Molestias!
  </div>
  <%- include('./partials/footer.ejs')%>
</body>
</html>