<!DOCTYPE html>
<html lang="en">
<head>  
  <%- include('./partials/head.ejs')%>
</head>
<body>
  <%- include('./partials/nav.ejs')%>
  <div class="create-blog content">
    form 태그가 들어감
  </div>
  <%- include('./partials/footer.ejs')%>
</body>
</html>