<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
</head>
<body>
  <%- include('./partials/nav.ejs')%>
  <div class="blogs content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae sunt soluta incidunt magni. Odit aliquid repudiandae voluptatum magni in esse, quibusdam iste aut modi placeat itaque nemo magnam perspiciatis provident.
  </div>
  <%- include('./partials/footer.ejs')%>
</body>
</html>