// scss 파일명 앞에 _를 넣으면 css 파일로 변환될 필요가 없다

// 변수 선언 : $ 기호 사용
$red-color : red;
$orange-color : orange;
$green-color : green;
$pink-color : pink;
$yellow-color : rgb(253, 253, 123);
$lightgreen-color : lightgreen;

$animation-duration: 0.4s;