@import './variable.scss';
@import './utils.scss';

// 중첩 : 부모 자식 관계 표현 가능
.container {
  .box {
    // mixin 호출
    @include box(150px);
    
    // .box.red -> box red
    // &: 부모 선택자 참조해서 치환

    &.red {
      background-color: $red-color;
    }
    &.orange {
      background-color: $orange-color;
    }
    &.green {
      background-color: $green-color;
    }
    &:hover {
      // 연산 가능
      $box-animation: $animation-duration * 2;
      transform: translateY(-20px);
      transition: transform $box-animation;
    }
  }
}

.btn {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

// 확장 : 기존 선택자 스타일을 다른 선택자에게 상속
.btn-primary {
  @extend .btn;
  background-color: lightblue;
}

.larva {
  position: relative;
  .body {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
  }
  .body1 {
    top: 100px;
    left: 100px;
    background-color: rgb(0, 0, 166);
    position: relative;
    .eye {
      border-radius: 50%;
      position: absolute;
    }
    .eye-white {
      width: 40px;
      height: 40px;
      background-color: white;
      top: 20px;
      left: 15px;
      .eye-black {
        width: 20px;
        height: 20px;
        background-color: black;
      }
    }
  }
  .body2 {
    top: 150px;
    left: 160px;
    background-color: rgb(36, 61, 206);
  }
  .body3 {
    top: 190px;
    left: 200px;
    background-color: rgb(52, 188, 231);
  }
  .body4 {
    top: 240px;
    left: 220px;
    background-color: rgb(47, 146, 233);
  }
  .body5 {
    top: 280px;
    left: 280px;
    background-color: rgb(140, 191, 253);
    z-index: 10;
  }
}
.grass {
  position: absolute;
  top: 150px;
  left: 40px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}
.circle1 {
  background-color: $pink-color;
  @include circle(50px, circle1);
}
.circle2 {
  background-color: $yellow-color;
  @include circle(60px, circle2);
}
.circle3 {
  background-color: $lightgreen-color;
  @include circle(70px, circle3);
}

.postBox {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  .listBox {
    width: 200px;
    height: 160px;
    background-color: #a5ebff;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;

    .postItemContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: azure;
      border: 1px solid black;
      border-radius: 10px;
      margin: 10px;

      .postTitle {
        margin: 5px;
        .postId {
          color: #61dafb;
        }
      }
    }
  }
}