<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
</head>
<body>
  <h1>Main</h1>
  <a href="/visitors">Visitors</a> <br>
  <a href="/user">User info</a> <br>
  <a href="/comments">Comments</a> <br>
</body>
</html>