<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
</head>
<body>
  <h1>Cookie-Parser</h1>

  <a href="/getCookie">getCookie</a> <br>
  <a href="/setCookie">setCookie</a> <br>
  <a href="/clearCookie">clearCookie</a> <br>
</body>
</html>