<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index04</title>
</head>
<body>
  <h1>File Upload</h1>
  <form action="/upload04" method="post" enctype="multipart/form-data">
    <label for="file">select file</label>
    <input type="file" name="demo" id="file" multiple>
    <button type="submit">submit</button>
  </form>
</body>
</html>