<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
</head>
<body>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="file">파일 등록</label>
    <input type="file" id="file" name="demo">
    <button type="submit">파일 업로드</button>
  </form>
</body>
</html>