<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>comment</title>
</head>
<body>
  <h1>comment</h1>
  <h3><%=commentInfo.userId %>'s comment</h3>
  <a href="/comments">back to comments</a>
  <p>date : <%=commentInfo.date %></p>
  <p>comment : <%=commentInfo.comment %></p>
</body>
</html>