<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
</head>
<body>
  <h1>Session</h1>

  <a href="/set">Session set</a> <br>
  <a href="/get">Session get</a> <br>
  <a href="/destroy">Session destroy</a>
</body>
</html>