body > .lion{
  background-color: red;
}

ul > .lion{
  background-color: greenyellow;
}
#tiger{
  background-color: yellow;
}
.lion{
  color: sienna;
}
div .lion{
  font-weight: bold;
}
#tiger + li{
  background-color: skyblue;
}
li.lion ~ li{
  background-color: orange;
}