<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comment</title>
</head>
<body>
  <h1>Comment</h1>
  <h3><%=Comment.userId %>'s Comment</h3>
  <a href="/Comments">back to Comments</a>
  <p>date : <%=Comment.date %></p>
  <p>Comment : <%=Comment.Comment %></p>
</body>
</html>