div{
  width: 800px;
  height: 500px;
  background-color: skyblue;
  background-image: url(https://item.kakaocdn.net/do/d84248170c2c52303db27306a00fb861f604e7b0e6900f9ac53a43965300eb9a);

}

.box1{
  background-repeat: repeat-x;
  background-position: center;
}

.box2{
  background-size: contain;
  background-position: 100px 30px;
  background-repeat: no-repeat;
}

.box3{
  background-size: cover;
  background-position: 0px 40px;
}