.div1{
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}

/* hover : 요소에 마우스를 올렸을 때 */
.div1:hover{
  background-color: pink;
  width: 150px;
}

/* active : 요소를 마우스로 클릭하였을 때 */
.div1:active{
  background-color: brown;
  height: 150px;
}

/* focus : 요소에 포커즈를 하였을 때 */
input:focus{
  background-color: blueviolet;
  color: #FFF;
  outline-color: yellowgreen;
}

.links > a:hover{
  background-color: coral;
  color: #FFF;
}

.links > a:visited{
  color: #CCC;
}