header{
  background-color: lightgray;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.left-box{
  display: flex;
  align-items: center;
}

.menus{
  padding-left: 0px;
  display: flex;
  align-items: center;
  /* ul태그 마크 없애기 */
  list-style: none;
  margin: 0 0 0 15px;
}

.menu:not(:last-child){
  margin-right: 15px;
}

.right-box{
  display: flex;
  align-items: center;
}

.signup{
  margin-left: 15px;
}