<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>로그인</h1>
    <form name="login-form">
        <input type="text" id="id" placeholder="ID">
        <input type="password" id="pw" placeholder="PW">
        <button type="button" onclick="login()">로그인</button>
    </form>
    <script>
        async function login(){
            const form = document.forms['login-form'];
            try {
                const res = await axios({
                    method:"POST",
                    url:"login",
                    data:{
                        id : form.id.value,
                        pw:form.pw.value,
                    }
                })

                console.log('login res.data >', res.data);
                if(res.data.isLogin){
                    localStorage.setItem('login', res.data.token)
                    document.location.href="/"
                } else {
                    alert(res.data.msg);
                    form.reset()

                }


            } catch (err){
                console.log('login err >', err);

            }
        }

    </script>
</body>
</html>