<!DOCTYPE html>
<html lang="en">
<%-include ('head.ejs') %>
<body>
  <form name="register-form">
    <input type="text" name="userId" placeholder="ID"> <br>
    <input type="text" name="pw" placeholder="PW"> <br>
    <input type="text" name="name" placeholder="Name"> <br>
    <button type="button" onclick="register()">Register</button>
  </form>
  <br>
  <a href="/">Home</a>
  <a href="/login">Login</a>

  <script>
    const form = document.forms['register-form'];
    function register() {
      try {
        const res = axios({
          method: 'POST',
          url: '/register',
          data: {
            name: form.name.value,
            userId: form.userId.value,
            pw: form.pw.value,
          }
        })
      } 
      catch (error) {
        console.log(error);
      }
    }
  </script>
</body>
</html>